*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: #8e8c7a ;
    h1{
        position:absolute;
        margin: 20px;
        padding:10px;
    }
}

.cover{
    @include d-flex(column, center, center);
    @include w-h(100%, 100vh);
}