@import './mixins.scss';
@import './switch.scss';
@import './main.scss';
@import 'upload';
@import 'addblock';
@import 'progressbar';


#file_input_btn{
    @include d-flex(column, center, center);
    // border: 1px solid red;
}