$bcf:#028546;
$bcbf:#028546;
$bct:#00252e;
$bcbt:#ebfbff;
$btn:#f1f5f0;
$btnbsf:#028546;
$btnbst:#613407;
$position:absolute;
$top:120px;
$right: 30px;
$br:15px;

.switch_btn{
    @include w-h(33px,33px);
    border: none;
    border-radius: 100%;
    background-color: $btn;
    cursor:pointer;
}

.switch{
    position: $position;
    top: $top;
    right: $right;
    @include w-h(60px,30px);
    border-radius: $br;
    background-color: $bcf;
    display: flex;
    align-items: center;
    animation-name: changeoff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes changeoff{
        from {background-color: $bcf;
            border: 2px solid $bcbf;}
        to {background-color: $bct;
            border: 2px solid $bcbt;}
    }
    .switch_btn{
        animation-name: turnoff;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        @keyframes turnoff{
            from {transform: translateX(100%);
                box-shadow: -1px 1px 3px $btnbsf;
            }
            to {transform: translateX(0%);
                box-shadow: -1px 1px 3px $btnbst;}
        }
    }
}
.switch_on{
    position: $position;
    top: $top;
    right: $right;
    @include w-h(60px,30px);
    border-radius: $br;
    display: flex;
    align-items: center;
    animation-name: changeon;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes changeon{
        from {background-color: $bct;
            border: 2px solid $bcbt;}
        to {background-color: $bcf;
            border: 2px solid $bcbf;}
    }
    .switch_btn{
        animation-name: turnon;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        @keyframes turnon{
            from {transform: translateX(0%);
                box-shadow: -1px 1px 3px $btnbst;}
            to {transform: translateX(100%);
                box-shadow: -1px 1px 3px $btnbsf;}
        }
    }
}
