// .block{
//     @include w-h(100%,100vh);
//     border: 1px solid #888888;
// }
// .box{
//     @include w-h(100%,100vh);
//     border: 1px solid red;
// }
// .addBlock_btn{
//     border:none;
//     margin: 10px auto;
//     margin-top: 10vh;
//     padding: 10px;
//     background-color: black;
//     border-radius: 5px;
//     color:azure;
//     cursor:pointer;
// }