*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PingFang TC;
    color: #363b48;
    
}
div {
    white-space: pre-line;
}

input, textarea {
    border-radius: 4px;
    white-space: pre-line;
}

button {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    color: #8e8c7a ;
    h1{
        position:absolute;
        margin: 20px;
        padding:10px;
    }
}

.cover{
    @include d-flex(column, center, center);
    @include w-h(100%, 100vh);
}

