@import './reset.scss';
@import './mixins.scss';
@import './switch.scss';
@import './upload.scss';


#neighbour_cover{
    @include w-h(100%,100vh);
}
.choose_cover{
    position: absolute;
    z-index: 1;
    top: 40vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    @include d-flex(column, center,center);
    
}
#input_file_btn{
    margin-top: 10px;
    @include d-flex(column, center,center);
}