@import './mixins.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    text-size-adjust: 100%;
    font-family: PingFang TC, math;
    color: #363b48;
}

div {
    white-space: pre-line;
}

input, textarea {
    border-radius: 4px;
    white-space: pre-line;
    resize : none;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
    }

    &::-webkit-scrollbar-track-piece {
    background: transparent;
    }

    &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #f5f5f5;
    }

    &::-webkit-scrollbar-track {
    box-shadow: transparent;
    }
    
}

button {
    // outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    color: #8e8c7a ;
    h1{
        position:absolute;
        margin: 20px;
        padding:10px;
    }
}

.cover{
    @include d-flex(column, center, center);
    @include w-h(100%, 100vh);
}

